html,
body {
	height: 100%;
}

html {
	overflow-x: hidden;
}

body {
	max-width: 1920px;
	margin: 0 auto;
	background-color: var(--theme-bg);
	position: relative;
	overflow-x: hidden;
}

pre {
  padding: 1em;
  border-radius: 0.5em;
  overflow: auto;
}

pre .language-id {
  display: none;
}