:root {
	/* Theme Colors */
	--theme-primary: rgb(81, 69, 38);
	--theme-primary-hover: rgb(80, 86, 53);
	--theme-on-primary: #fff;

	--theme-bg: #fff3c4;
	--theme-on-bg: #514526;

	--theme-surface-1: #ff8630;
	--theme-on-surface-1: #514526;

	--theme-surface-2: #cce6d0;
	--theme-on-surface-2: #000;

	/* Theme Shapes */
	/* Set this to 0 if you want all of the rounded cards, images, etc to be straight edges */
	--theme-shape-radius: clamp(1rem, 2rem, 3rem);
	--theme-button-border-radius: 3rem;

	/* Theme Transition */
	--theme-transition: 0.2s ease-in-out;

	/* Theme Layout */
	--section-margin: 3rem;
	--theme-grid-gap: 1rem;
	--container-max-width: 1440px;
	--container-max-width-narrow: 960px;
	--container-padding: 0 1rem;

	--theme-blog-post-header-width: 1200px;

	/* Theme Fonts */
	--theme-font-family-serif: 'Roboto Serif', Georgia, Cambria, 'Times New Roman',
		Times, serif;
	--theme-font-family-sans: 'Lato', -apple-system, BlinkMacSystemFont,
		sans-serif;
}

@media (min-width: 1600px) {
	:root {
		--container-max-width: 1600px;
		--container-max-width-narrow: 1100px;
		--section-margin: 4rem;
	}
}

@media (min-width: 2000px) {
	:root {
		--container-max-width: 1800px;
		--container-max-width-narrow: 1250px;
		--section-margin: 5rem;
	}
}